h1 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-inline: auto;
}

.gallery-item {
  flex: 0 0 33%;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.gallery-img:hover {
  scale: 1.05;
}

.lightbox{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  
}
.lightbox-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.836);
  width: 100%;
  height: 100%;
}

.lightbox-img{
  max-width: 800px;
  border-radius: 10px;
}

.lightbox-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color:white;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  transition:  500ms;
}

.lightbox-close:hover{
  background-color: white;
  color:rgb(0, 0, 0);
}